---
title: Ytomi
---

<section class="hero diagonal">
	<div class="container halves">
		<div>
			<ul class="image-list">
            <li><img src="{{ site.baseurl }}/images/Maya_kashikoma.png" style="margin-bottom: 40px;"></li>
			</ul>
		</div>
		<div>
			<h2 class="editable">Ytomi</h2>
			<p class="editable">VR/VRoid/プリパラ</p>
			<p class="editable">発表してきたものをポートフォリオとして、また現在取り組んでいることをブログとしてまとめています。</p>
			<p class="editable"><a href="{{ site.baseurl }}/portfolio/">View Portfolio &rarr;</a></p>
			<p class="editable"><a href="{{ site.baseurl }}/blog/index">View Blog &rarr;</a></p>
		</div>
	</div>
</section>

<section class="diagonal patterned">
	<div class="container halves">
		<div>
			<h3 class="editable">PORTFOLIO</h3>
			<p class="editable">コンテストへの参加・Vketへの出展・同人誌の出版など。</p>
			<p class="editable"><a href="{{ site.baseurl }}/portfolio/">View Full Portfolio &rarr;</a></p>
		</div>
		<div>
			<ul class="image-grid">
				{% for client in site.clients limit: 4 %}
					<li><a href="{{ site.baseurl }}{{ client.url }}"><img src="{% include relative-src.html src=client.image_path %}"></a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
</section>

<section class="diagonal alternate">
	<div class="container">
		<h2 class="editable">Contact</h2>
		<p class="subtext editable">Twitter(下リンク)よりご連絡ください。</p>
		<p><a class="button alt" href="https://twitter.com/kanmichun" target="_blank">Contact</a></p>
	</div>
</section>
